<% if notice %>
  <p class="bg-yellow-100 text-yellow-800 px-4 py-2 rounded">
    <%= notice %>
  </p>
<% end %>

<% if alert %>
  <p class="bg-red-100 text-red-800 px-4 py-2 rounded">
    <%= alert %>
  </p>
<% end %>
