<%# <div class="w-full max-w-xs"> %>
  <%= form_with model: link do |form| %>

    <div class="flex gap-2 items center py-2 px-3">
      <%= form.url_field :url,
        required: true,
        autofocus: true,
        placeholder: "https://example.com",
        class:"input-box"
        %>
      <%= form.button "Save", class: "btn-primary" %>
    </div>
  <% end %>
<%# </div> %>