<%# <div> %>
  <div class="">
    <h1 class="">Link Shortener</h1>
  <%# </div> %>

  <div class="grid grid-flow-row auto-rows-max">
    <%= render partial: 'form', locals: { link: @link } %>
  </div>
  <div class="mt-8 gap-4 divide-y divide-gray-300">
    <%= render @links %>
  </div>
</div>
